body{
    background-image: url(../img/background-pizza.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-direction: column;
}

h1{
    font-weight: 500;
    font-size: 4.5rem;
    text-align: center;
    color: var(--white);
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.produto{
    width: 310px;
    height: 80px;
    background: var(--pizza-laranja);
    border-radius: 20px;
    border: none;
    font-weight: 400;
    font-size: 45px;
    color: var(--white);
}

.usuario{
    width: 310px;
    height: 80px;
    background: var(--pizza-laranja);
    border-radius: 20px;
    border: none;
    font-weight: 400;
    font-size: 45px;
    color: var(--white);
}

@media(max-width:1200px){
    .buttons{
        flex-direction: column;
    }
}