header{
    display: flex;
    padding: 2%;
    padding-left: 20%;
}

.link_header{
    display: flex;
    width: 100%;
}

.link_header img{
    display: flex;
    width: 14%;
}

@media(max-width:1200px){
    .link_header{
        width: 100%;
    }
    .link_header img{
        width: 40%;
    }
}