body{
    background-image: url(../img/background-pizza.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.container-login{
    width: 28%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.783);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: var(--white);
    text-shadow: 0px 4px 4px var(--pizza-amarelo);
    padding-bottom: 10%;
}

.forms_login{
    display: flex;
    width: 100%;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.user{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.usuario{
    font-weight: 200;
    font-size: 2rem;
    color: var(--white);
}

.campo_usuario{
    width: 90%;
    height: 58px;
    border: none;
    background-color: var(--white);
    border-radius: 20px;
}

.password{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.senha{
    font-weight: 200;
    font-size: 2rem;
    color: var(--white);
}

.campo_senha{
    width: 90%;
    height: 58px;
    border: none; 
    background-color: var(--white);
    border-radius: 20px;
}

.link_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 173px;
    height: 48px;
    margin-top: 63px;
    background-color: var(--pizza-amarelo);
    border: none;
    border-radius: 20px;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    color: black;
}

@media(max-width:1200px){
    .container-login{
        width: 50%;
        height: 80%;
    }
}