body{
    background-image: url(../img/background-pizza.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button{
    width: 152px;
    height: 53px;
    background: var(--pizza-vinho);
    border: none;
    border-radius: 20px;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    color: var(--white);
}

main{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.novo_usuario{
    width: 506px;
    height: 555px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 63px;
    padding-bottom: 63px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
    font-weight: 200;
    font-size: 30px;
    color: #FFFFFF;
}

input{
    width: 401;
    height: 58;
    padding: 10px;
    background: rgba(217, 162, 61, 0.7);
    border: 3px solid var(--pizza-vinho);
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}