header {
    height: 156px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;   
    background-color: transparent;
    padding-left: 500px;
    padding-right: 500px;
}

nav ul{
    display: flex;
    gap: 30px;
}

nav a{
    color: var(--white);
    font-size: 20px;
    font-weight: 100;
}

