*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

:root {
    --white: #FFFFFF;
    --pizza-amarelo: #D9A23D;
    --pizza-laranja: #C2620E;
    --pizza-coral: #A62103;
    --pizza-vinho: #73020C;
    --pizza-marrom: #400106;
}
